@import '_colors.scss';

.bottomFirstLine {
	clear:both;
	height: 100px;
	background-color: $bottomLineFirst;
	width: 100%;
	margin: auto;
	color: #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
}

.bottomFirstLineLeft {
	float: left;
	height: 100px;
	line-height: 100px;
	width: 600px;
	margin-left: 180px;
}
.bottomFirstLineRight {
	float: right;
	height: 100px;
	line-height: 100px;
	margin-right: 210px;
}

.bottomSecondLine {
	clear: both;
	height: 150px;
	width: 100%;
	margin: auto;
	color: #fff;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: none;
	background-color: $bottomLineSecond;
}
.bottomSecondLineLeft {
	float: left;
	width: 600px;
	margin-left: 180px;
	padding-top: 45px; 
}
.bottomSecondLineRight {
	float: right;
	margin-right: 195px;
}

div .bottomSecondLineRight ul {
	list-style: none;
	li {
		line-height: 100px;
		float: left;
		margin-right: 15px;
		margin-left: 15px;
	}
	a {
		color: #fff;
	}
}