$square: #d34966;
$menuFontColor: #424242;
$blogBackground: #d9e7f1;
$blogBackground2: #ecf4fa;
$frameColor: #d5d1d1;
$register: #e7e4e3;
$midRightBackground: #f1f2f6;
$bottomLineFirst: #424242;
$bottomLineSecond: #4a4a4a;


$mainContentHeight: 456px;
$wholePageWidth: 1550px;