.logoRight {
	float: right;
	width: 430px;
	height: 300px;
}
.logoMiddle {
	float: right;
	width: 450px;
	height: 142px;
}
.logoLeft {
	margin-right: 50px;
	float: right;
	width: 600px;
	height: 140px;
}
.menu {
	width: 1118px;
	height: 155px;
	float: left;
}
.leftSquare {
	float: left;
	width: 155px;
	height: 160px;
	background-color: $square;
}

div .menu ul {
	list-style: none;
	li {
		height: 120px;
		border-right: 1px solid #CCDEF0;
		float: left;
		font-family: sans-serif;
		font-size: 14px;
		font-weight: bold;
		color: $menuFontColor;
		padding-right: 27px;
		padding-left: 27px;
		line-height: 110px;
	}	
	li:hover a {
		color: white;
	}
	li:hover {
		background-color: $menuFontColor;
		height: 119px;
	}
}

.a {
	color: $menuFontColor;
}
.blog {
	padding-right: 10px;
	width: 1385px;
	height: 190px;
	float: right;
}
.blogButton {
	background: linear-gradient(to right, $blogBackground, $blogBackground2);
	padding-top: 10px;
	padding-left: 30px;
	margin-right: 190px;
	margin-top: 43px;
	float: right;
	width: 225px;
	height: 135px;
	border-top-right-radius: 75px;
	border-bottom-right-radius: 75px;
	color: $menuFontColor;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bolder;

}
.blogTxt {
	font-size: 50px;
}
.pointer {
	width: 20px;
	height: 25px;
	padding-left: 20px;
	padding-bottom: 20px;
}